In [42]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
import random as rd
import pickle


df = pd.read_csv('dataml1.csv')
df

,Name,Nama Panggil,Jenis Kelamin,Jurusan,Angkatan,Divisi,Status,Banyak Project,Skill
0,Muhammad Zidan Fadhilah,Zidan,Laki-laki,Teknik Telekomunikasi,2019,Cyber Security,Asisten Lab,6,Pwning
1,Muhammad Zidan Fadhilah,Zidan,Laki-laki,Teknik Telekomunikasi,2019,Cyber Security,Asisten Lab,6,Git
2,Muhammad Zidan Fadhilah,Zidan,Laki-laki,Teknik Telekomunikasi,2019,Cyber Security,Asisten Lab,6,Cryptography
3,Muhammad Zidan Fadhilah,Zidan,Laki-laki,Teknik Telekomunikasi,2019,Cyber Security,Asisten Lab,6,Reverse Engineering
4,Muhammad Azriel,Azriel,Laki-laki,Teknik Telekomunikasi,2019,GIS,Asisten Lab,6,Figma
...,...,...,...,...,...,...,...,...,...
172,Yulintyandra Puja Antanita,Yulin,Perempuan,Teknik Telekomunikasi,2021,GIS,Calon Asisten,8,Blender
173,Yulintyandra Puja Antanita,Yulin,Perempuan,Teknik Telekomunikasi,2021,GIS,Calon Asisten,8,Unity
174,Yulintyandra Puja Antanita,Yulin,Perempuan,Teknik Telekomunikasi,2021,GIS,Calon Asisten,8,C
175,Malvin Nugraha,Malvin,Laki-laki,Teknik Telekomunikasi,2021,GIS,Calon Asisten,10,Blender
176,Malvin Nugraha,Malvin,Laki-laki,Teknik Telekomunikasi,2021,GIS,Calon Asisten,10,Unity

In [43]:
asisten = df.drop(columns=['Nama Panggil', 'Jenis Kelamin', 'Jurusan', 'Angkatan', 'Divisi', 'Status', 'Banyak Project'])
asisten

                           Name                Skill
0       Muhammad Zidan Fadhilah               Pwning
1       Muhammad Zidan Fadhilah                  Git
2       Muhammad Zidan Fadhilah         Cryptography
3       Muhammad Zidan Fadhilah  Reverse Engineering
4               Muhammad Azriel                Figma
..                          ...                  ...
172  Yulintyandra Puja Antanita              Blender
173  Yulintyandra Puja Antanita                Unity
174  Yulintyandra Puja Antanita                    C
175              Malvin Nugraha              Blender
176              Malvin Nugraha                Unity

[177 rows x 2 columns]

In [46]:
bj = asisten.groupby(['Skill'])['Name'].sum().reset_index()
bj

                 Skill                         Name
0    Adobe Illustrator        Aisha Hijranie Putrie
1    Adobe Illustrator         Fadilah Putri Sukoco
2    Adobe Illustrator         Ganesh Mahesa Aditya
3    Adobe Illustrator  Moch FIrza Yudistira Meizia
4    Adobe Illustrator              Raehan Abdillah
..                 ...                          ...
172              Unity              Raehan Abdillah
173              Unity            Virginia Iskandar
174              Unity                   Yoga Marta
175              Unity   Yulintyandra Puja Antanita
176              Unity        Zaidan Muhammad Mahdi

[177 rows x 2 columns]

In [ ]:
bj.str.lower()

In [ ]:
from sklearn import preprocessing
  
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

asisten['Skill'] = asisten['Skill'].str.lower()

# Encode labels in column 'species'.
asisten['Divisi']= label_encoder.fit_transform(asisten['Divisi']) 
asisten['Divisi'].unique()

asisten['Status']= label_encoder.fit_transform(asisten['Status']) 
asisten['Status'].unique()

asisten['Jurusan']= label_encoder.fit_transform(asisten['Jurusan']) 
asisten['Jurusan'].unique()

asisten['Skills']= label_encoder.fit_transform(asisten['Skill']) 
asisten['Skills'].unique()

feature = ['Angkatan', 'Divisi', 'Status', 'Skills']

asisten

In [ ]:
list_skill = asisten['Skill'].str.strip('[]').str.replace(' ','').str.replace("'",'')
list_skill = list_skill.str.split(',')

In [ ]:

x = asisten[feature].copy()
y = asisten['Name']

knn = KNeighborsClassifier(n_neighbors=3)

In [ ]:
knn.fit(x,y)

In [ ]:
new_asisten = asisten
new_asisten['Pred_Name'] = knn.predict(new_asisten[feature])
new_asisten

In [ ]:
nama_asisten = new_asisten['Pred_Name']

def input_skill(inputan):
    for i in range(len(new_asisten['Skill'])):
        for j in range(len(list_skill[i])):
            if (inputan == list_skill[i][j]):
                z = [] 
                z.append(i)
                print(z)
                print(nama_asisten.iloc[z])
    return(nama_asisten.iloc[z])

In [ ]:
#inputs = str(input("Masukkan Skill : ")).lower()
input_skill('adobepremier')

In [ ]:
with open('skill.pkl','wb') as z:
    pickle.dump(knn, z)

In [ ]:
with open('skill.pkl','rb') as r:
  mlp = pickle.load(r)
mlp

In [ ]:
nama_asisten.to_csv('newdata.csv')